option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web root
    memory_limit: 256M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 60
    upload_max_filesize: 5M
    post_max_size: 6M
    max_file_uploads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /assets: web root/assets
    /uploads: web root/uploads

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/httpd/error_log
      /var/log/httpd/access_log

commands:
  01_install_gd:
    command: "yum install -y php-gd"
  02_create_uploads_dir:
    command: "mkdir -p /var/app/current/web\ root/uploads/products && chmod 755 /var/app/current/web\ root/uploads/products"
  03_set_permissions:
    command: "chown -R webapp:webapp /var/app/current/web\ root/uploads"