option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
    
container_commands:
  01_run_migration:
    command: "php /var/app/current/web\ root/run_migration.php"
    leader_only: true
  02_set_env_permissions:
    command: "chmod 644 /var/app/current/web\ root/.env"
    ignoreErrors: true